html, body {
  * {
    box-sizing: border-box;
  }
}

.app {
  &__header {
    display: flex;
    align-items: center;
    width: 100vw;
    border-bottom: solid 2px blue;
    padding: 1em;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }

  &__catalogus-picker {
    width: 20vw;
    min-width: 400px;
    padding-right: 1em;
  }

  &__auth {
    input {
      margin-right: 2em;
      padding: .5em;
    }
  }
}
