.zaaktype-list {
  display: block;
  max-width: 20vw;

  padding: 1em;
  border-right: solid 3px #2e8dd0;
  background: rgba(#2e8dd0, .05);

  margin-left: -1em;
  margin-top: -1em;

  &__zaaktypen {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__zaaktype {
    margin-bottom: .5em;
  }

  &__omschrijving {
    display: block;

    cursor: pointer;
    font-weight: 600;

    // ellipsis to prevent overflow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
